{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [".github/copilot/prompts/*"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
