mods:
  - screepsmod-auth
  - screepsmod-admin-utils
  - screepsmod-mongo
  - screepsmod-bots
  - screepsmod-history
  - screepsmod-stats
  - screepsmod-visualize
  - screepsmod-dynamicmarket
  - screepsmod-features
  - screepsmod-portals
  - screepsmod-timeout
  - "@screepsmod/serverinfo"
  - screepsmod-maptools
  - screepsmod-leaderboard
  - screepsmod-arena-world
  - screepsmod-pvp-api
  - screepsmod-remote-console
  - screepsmod-map-tool
  - screepsmod-web-client
  - screepsmod-cors

bots:
  choreographer: screeps-bot-choreographer
  overmind: screeps-bot-overmind
  toolangle: screeps-bot-tooangel

launcherOptions:
  # If set, automatically ensures all mods are updated
  autoUpdate: false
  # If set, forward console messages to terminal
  logConsole: true

serverConfig:
  tickRate: 200
  socketUpdateRate: 200
  shardName: "test"
  constants:
    UPGRADE_POWER: 10
    POWER_CREEP_SPAWN_COOLDOWN: 3600000 # 1 Hour
    POWER_CREEP_DELETE_COOLDOWN: 3600000
  welcomeText: |
    <h1>Welcome</h1>
    <div>Powered by screepsmod-admin-utils</div>
  gclToCPU: true
  maxCPU: 100
  baseCPU: 20
  stepCPU: 10
