mods:
  - screepsmod-auth
  - screepsmod-admin-utils
  - screepsmod-mongo
  - screepsmod-bots
  - screepsmod-history
  - screepsmod-stats
  - screepsmod-visualize
  - screepsmod-dynamicmarket
  - screepsmod-features
  - screepsmod-portals
  - screepsmod-timeout
  - "@screepsmod/serverinfo"
  - screepsmod-maptools
  - screepsmod-leaderboard
  - screepsmod-arena-world
  - screepsmod-pvp-api
  - screepsmod-remote-console
  - screepsmod-map-tool
  - screepsmod-web-client
  - screepsmod-cors

bots:
  choreographer: screeps-bot-choreographer
  overmind: screeps-bot-overmind
  toolangle: screeps-bot-tooangel

launcherOptions:
  # If set, automatically ensures all mods are updated
  autoUpdate: false
  # If set, forward console messages to terminal
  logConsole: true
