---
name: Guard - YAML Lint

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: guard-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: YAML Lint
        run: yamllint .github/workflows/
